
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-body">
                <div class="row">
                    <div class="chart-container col-md-11">
                        <div id="Load"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <br /><br />
        <table class="col-md-12" id="Table_Load" style="font-weight:bold;text-align:center;color:black;">
            <tbody>
                <tr style="background-color:#036EB7;border-bottom:2px #000000 solid;border-top:2px #000000 solid;color:white;height:40px;">
                    <td colspan="2">預測今日負載噸數</td>
                </tr>
                <tr style="background-color:#EEEEEE;height:40px;">
                    <td style="background-color:#b2dbf7;">平均負載</td>
                    <td id="AvgLoad"></td>
                </tr>
                <tr style="background-color:#FAFAFA;height:40px;">
                    <td style="background-color:#e3f4ff;">最大負載</td>
                    <td id="PeakLoad"></td>
                </tr>
                <tr style="background-color:#1ba891;border-bottom:2px #000000 solid;border-top:2px #000000 solid;color:white;height:40px;">
                    <td colspan="2">今日最大負載時間</td>
                </tr>
                <tr style="background-color:#EEEEEE;height:40px;">
                    <td style="background-color:#a5f2e5;">日期</td>
                    <td>
                    <script>document.write(new Date().toJSON().slice(0, 10).replace(/-/g, ' / '))</script></td>
                </tr>
                <tr style="background-color:#FAFAFA;height:40px;">
                    <td style="background-color:#e3fffa;">時間</td>
                    <td id="PeakTime"></td>
                </tr>
                <tr style="background-color:#EEEEEE;height:40px;">
                    <td style="background-color:#a5f2e5;">乾球溫度(℃)</td>
                    <td id="Temperature"></td>
                </tr>
                <tr style="background-color:#FAFAFA;border-bottom:2px #000000 solid;height:40px;">
                    <td style="background-color:#e3fffa;">相對濕度(%)</td>
                    <td id="Humidity"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    document.getElementById("SysOptimizeTitle").classList.add("active");
    document.getElementById("SysOptimize").classList.add("show");
    document.getElementById("LoadPredict").classList.add("active");
    $(document).ready(function () {
        $().ready(function () {
            var PredictLoad = [];
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "/Optimization/PredictLoadVal",
                success: function (data) {
                    console.log("LoadData_success");
                    document.getElementById("AvgLoad").innerText = parseFloat(data[0].avgValue).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("PeakLoad").innerText = parseFloat(data[0].maxValue).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    document.getElementById("PeakTime").innerText = data[0].maxTime;
                    document.getElementById("Temperature").innerText = parseFloat(data[0].maxTdb).toFixed(2);
                    document.getElementById("Humidity").innerText = parseFloat(data[0].maxRH).toFixed(2);
                    //Chart Data
                    for (var i = 0; i < data[0].Time.length; i++) {
                        let localeTime = data[0].Time[i];
                        const localeTimeObj = new Date(localeTime).getTime() + 8 * 60 * 60 * 1000;

                        var PredictLoadArrObj = [];
                        PredictLoadArrObj[0] = localeTimeObj;
                        PredictLoadArrObj[1] = data[0].Load[i];
                        PredictLoad.push(PredictLoadArrObj);
                    }
                },
                error: function (result) {
                    console.log("LoadData_false");
                }
            });

            var options = {
                chart: {
                    type: 'line',
                    id: 'PredictLoadchart',
                    height: 300,
                    zoom: { enabled: false },
                },
                title: {
                    text: "預測今日負載",
                    style: {
                        fontSize: '20px',
                        fontWeight: 600,
                    },
                },
                dataLabels: { enabled: true },
                colors: ["#0D3B66"],
                markers: {
                    size: 0,
                    style: 'hollow',
                },
                stroke: { curve: 'smooth' },
                yaxis: {
                    title: {
                        text: "噸數(RT)",
                        style: {
                            fontSize: '16px',
                            fontWeight: 600,
                        },
                        offsetY: 10,
                    },
                    labels: {
                        formatter: function (val) {
                            return (parseFloat(val).toFixed(2)).toString();
                        }
                    }
                },
                xaxis: {
                    type: 'datetime',
                    min: PredictLoad[0][0] - 5*60*1000,
                    max: PredictLoad[PredictLoad.length-1][0] + 5*60*1000,
                    title: {
                        text: "時間",
                        style: {
                            fontSize: '16px',
                            fontWeight: 600,
                        },
                        offsetY: 5,
                    },
                    labels: {
                        datetimeFormatter: { year: 'yyyy', month: 'yyyy-MM', day: 'MM-dd', hour: 'HH:mm' }
                    },
                    tooltip: { enabled: false, }
                },
                tooltip: {
                    x: { format: 'yyyy-MM-dd HH:mm' },
                    y: {
                        formatter: function (val) {
                            return (parseFloat(val).toFixed(2)).toString();
                        }
                    }
                },
                noData: {
                    text: "Loading...",
                    align: 'center',
                    verticalAlign: 'middle',
                    offsetX: 0,
                    offsetY: -30,
                    style: {
                        color: "#000000",
                        fontSize: '20px',
                        fontFamily: "Helvetica"
                    }
                },
                series: [
                    { name: "預測負載", data: PredictLoad }
                ],
            };
            var chart = new ApexCharts(document.querySelector("#Load"), options);
            chart.render();
        });
    });
</script>
